<div class='prose mx-auto'>
  <h2>未解問題</h2>

  <% @questions.each do |question| %>
    <blockquote>
      <%= simple_format question.body %>
      <div class='text-right text-xs text-gray-600'>
        <%= l(question.created_at) %>
      </div>
    </blockquote>

    <%= form_with model: question.answer || Answer.new, url: question_answer_path(question) do |f| %>
      <h2>你的回答是...</h2>
      <%= f.text_field :body, class: "w-full p-1 border rounded" %>
      <%= f.submit class: "px-3 py-1 border rounded cursor-pointer bg-blue-700 hover:bg-blue-600 text-white transition" %>
    <% end %>
  <% end %>
</div>
