<div class='prose mx-auto'>
  <h2><%= @user.nickname %> 的問答箱</h2>

  <%= form_with model: [@user, @question], data: { controller: "hcaptcha-form" } do |f| %>
    <%= f.text_area :body, class: "w-full p-1 border rounded", placeholder: "填寫你的問題..." %>

    <div data-hcaptcha-form-target='captcha'></div>
    <%= f.hidden_field :response, class: "w-full p-1 border rounded", placeholder: "HCaptcha Response", data: { hcaptcha_form_target: "response" } %>

    <%= f.submit class: "px-3 py-1 border rounded cursor-pointer bg-blue-700 hover:bg-blue-600 text-white transition disabled:opacity-50 disabled:cursor-not-allowed", data: { hcaptcha_form_target: "submit" } %>
  <% end %>

  <h2>最近已答</h2>

  <% @answers.each do |answer| %>
    <blockquote><%= answer.question.body %></blockquote>
    <div><%= simple_format answer.body %></div>
    <hr />
  <% end %>
</div>
