<!DOCTYPE html>
<html>
  <head>
    <title>QBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://js.hcaptcha.com/1/api.js?hl=zh-TW"></script>
    <meta name="hcaptcha-sitekey" content="<%= ENV["HCAPTCHA_SITEKEY"] %>">
  </head>

  <body>
    <% if current_user %>
      <header class='p-3 border-b shadow bg-blue-100'>
        <div class='container mx-auto'>
          <%= link_to "QBox", root_path, class: "text-blue-600 underline" %>
          <%= link_to "我的資料", edit_profile_path, class: "text-blue-600 underline" %>
          <%= link_to "我的問答箱", user_path(current_user), class: "text-blue-600 underline" %>
          <%= link_to "未解問題", unanswered_questions_path, class: "text-blue-600 underline" %>
        </div>
      </header>
    <% end %>

    <main class='container px-3 md:px-0 md:mx-auto'>
      <%= yield %>
    </main>

    <footer class='container px-3 md:px-0 md:mx-auto'>
      <div class='p-2 flex justify-center gap-4'>
        <div class='text-sm text-gray-500'>© 2022 QBox</div>
      </div>
    </footer>
  </body>
</html>
