<!DOCTYPE html>
<html>
  <head>
    <title>QBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if current_user %>
      <div class='p-3 border-b shadow bg-blue-100'>
        你已經登入: <%= current_user.nickname %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
